.modal {
    position: relative;
    z-index: 9999;

    &__background {
        opacity: 0;
        visibility: hidden;
    
        transition: all 0.5s ease;

        backdrop-filter: blur(7px);
        background: rgba(23, 73, 179, 0.1);
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &.show {
            opacity: 1;
            visibility: visible;
    
            transition: all 0.5s ease;
        }
    }

    &__container {
        position: relative;
        z-index: 1000;
        cursor: default;
        position: relative;
        background-color: var(--white-color);
        border-radius: 32px;
        padding: 40px;
        height: inherit;
    }

    &__close-btn {
        position: absolute;
        right: 40px;
        background-color: rgba(23, 23, 23, 0.1);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}